.btnPaid {
  background-color: #20b04eff;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  transition: all 0.2s;
  animation: moveInBottom 0s ease-out;
  animation-fill-mode: backwards;
  cursor: pointer;
  color: rgb(228, 216, 216);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.btnPaid::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #20b04eff;
}

.btnPaid:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnPaid:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnPaid:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
